# Pandas Series

Pandas is a package for Data Analysis and Data Visualization

In [3]:
import numpy as np
import pandas as pd

num = [10,20,30,40,50]
txt = 'A B C D E'.split()
arr = np.array(num)
d = {'A':10, 'B':20, 'C':30}

- Pandas Series is 1-D, DataFrame is 2-D
- PAndas Series & DataFrames can have row AND Columns LAbels
- PAndas Series & DataFrames have in-built Data Visualization methods.
- PAndas Series & DataFrames have a lots of additional functions for statistical analysis
- "Applying" a particular function on PAndas Series & DataFrames is easy (in-built)

In [6]:
ser1 = pd.Series(data=num, index=txt)
ser1

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [7]:
ser1 = pd.Series(data=txt, index=num)
ser1

10    A
20    B
30    C
40    D
50    E
dtype: object

In [20]:
ser1 = pd.Series(data=arr, index='A A A A B'.split())
ser1['A']  #calling the values by thier index labels

A    10
A    20
A    30
A    40
dtype: int32

In [21]:
ser1.iloc[:2]   #calling the values by thier actual index

A    10
A    20
dtype: int32

In [14]:
ser2 = pd.Series(d)
ser2

A    10
B    20
C    30
dtype: int64

In [17]:
ser1+ser2

A    20.0
B    40.0
C    60.0
D     NaN
E     NaN
dtype: float64

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np

In [22]:
from numpy.random import randn
np.random.seed(101)

In [25]:
df = pd.DataFrame(randn(5,4).round(2),index='A B C D E'.split(),\
                  columns='W X Y Z'.split())

In [26]:
df

      W     X     Y     Z
A  0.30  1.69 -1.71 -1.16
B -0.13  0.39  0.17  0.18
C  0.81  0.07  0.64  0.33
D -0.50 -0.75 -0.94  0.48
E -0.12  1.90  0.24  2.00

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [32]:
df['W']

A    0.30
B   -0.13
C    0.81
D   -0.50
E   -0.12
Name: W, dtype: float64

In [33]:
# Pass a list of column names
df[['Z','W']]

      Z     W
A -1.16  0.30
B  0.18 -0.13
C  0.33  0.81
D  0.48 -0.50
E  2.00 -0.12

In [34]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    0.30
B   -0.13
C    0.81
D   -0.50
E   -0.12
Name: W, dtype: float64

DataFrame Columns are just Series

In [42]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [49]:
df['new'] = 20*df['W'] + 50*df['Y']

In [50]:
df

      W     X     Y     Z   new
A  0.30  1.69 -1.71 -1.16 -79.5
B -0.13  0.39  0.17  0.18   5.9
C  0.81  0.07  0.64  0.33  48.2
D -0.50 -0.75 -0.94  0.48 -57.0
E -0.12  1.90  0.24  2.00   9.6

** Removing Columns**

In [51]:
df.drop('new',axis=1)

      W     X     Y     Z
A  0.30  1.69 -1.71 -1.16
B -0.13  0.39  0.17  0.18
C  0.81  0.07  0.64  0.33
D -0.50 -0.75 -0.94  0.48
E -0.12  1.90  0.24  2.00

In [52]:
df.drop('C',axis=0)

      W     X     Y     Z   new
A  0.30  1.69 -1.71 -1.16 -79.5
B -0.13  0.39  0.17  0.18   5.9
D -0.50 -0.75 -0.94  0.48 -57.0
E -0.12  1.90  0.24  2.00   9.6

In [53]:
# Not inplace unless specified!
df

      W     X     Y     Z   new
A  0.30  1.69 -1.71 -1.16 -79.5
B -0.13  0.39  0.17  0.18   5.9
C  0.81  0.07  0.64  0.33  48.2
D -0.50 -0.75 -0.94  0.48 -57.0
E -0.12  1.90  0.24  2.00   9.6

In [54]:
df.drop('new',axis=1,inplace=True)

In [55]:
df

      W     X     Y     Z
A  0.30  1.69 -1.71 -1.16
B -0.13  0.39  0.17  0.18
C  0.81  0.07  0.64  0.33
D -0.50 -0.75 -0.94  0.48
E -0.12  1.90  0.24  2.00

Can also drop rows this way:

In [56]:
df.drop(['A','E'],axis=0)

      W     X     Y     Z
B -0.13  0.39  0.17  0.18
C  0.81  0.07  0.64  0.33
D -0.50 -0.75 -0.94  0.48

** Selecting Rows**

In [57]:
df.loc[['A','E']]   # it takes row-labels

      W     X     Y     Z
A  0.30  1.69 -1.71 -1.16
E -0.12  1.90  0.24  2.00

Or select based off of position instead of label

In [61]:
df.iloc[2:]    # it takes row-indices

      W     X     Y     Z
C  0.81  0.07  0.64  0.33
D -0.50 -0.75 -0.94  0.48
E -0.12  1.90  0.24  2.00

** Selecting subset of rows and columns **

In [62]:
df.loc['B','Y']  #row,col indexing

0.17

In [54]:
df.loc[['A','B'],['W','Y']]    #row,col indexing

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [63]:
df

      W     X     Y     Z
A  0.30  1.69 -1.71 -1.16
B -0.13  0.39  0.17  0.18
C  0.81  0.07  0.64  0.33
D -0.50 -0.75 -0.94  0.48
E -0.12  1.90  0.24  2.00

In [64]:
df>0   # logical index-matrix

       W      X      Y      Z
A   True   True  False  False
B  False   True   True   True
C   True   True   True   True
D  False  False  False   True
E  False   True   True   True

In [65]:
df[df>0]   # Fetch ALL the positive values in the dF

      W     X     Y     Z
A  0.30  1.69   NaN   NaN
B   NaN  0.39  0.17  0.18
C  0.81  0.07  0.64  0.33
D   NaN   NaN   NaN  0.48
E   NaN  1.90  0.24  2.00

In [66]:
df[df['W']>0]   # here the condition is running on a single column

      W     X     Y     Z
A  0.30  1.69 -1.71 -1.16
C  0.81  0.07  0.64  0.33

In [72]:
df[df['W']>0].Y

A   -1.71
C    0.64
Name: Y, dtype: float64

In [68]:
df[df['W']>0][['Y','X']]

      Y     X
A -1.71  1.69
C  0.64  0.07

For two conditions you can use | and & with parenthesis:

In [75]:
df[(df['W']>0) & (df['Y'] > 0)]

      W     X     Y     Z
C  0.81  0.07  0.64  0.33

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [209]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [24]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [30]:
df = df.drop(['C'])

In [29]:
df.loc['C']

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [33]:
print(df.shape)
print(df)

(4, 4)
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [34]:
df.iloc[2]

W    0.188695
X   -0.758872
Y   -0.933237
Z    0.955057
Name: D, dtype: float64

In [211]:
newind = 'CA NY WY OR CO'.split()

In [212]:
df['States'] = newind

In [213]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [214]:
df.set_index('States')

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [57]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [55]:
df.set_index('States',inplace=)

KeyError: 'States'

In [218]:
df

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [253]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [254]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [257]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.153661  0.167638
   2 -0.765930  0.962299
   3  0.902826 -0.537909
G2 1 -1.549671  0.435253
   2  1.259904 -0.447898
   3  0.266207  0.412580

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [260]:
df.loc['G1']

          A         B
1  0.153661  0.167638
2 -0.765930  0.962299
3  0.902826 -0.537909

In [263]:
df.loc['G1'].loc[1]

A    0.153661
B    0.167638
Name: 1, dtype: float64

In [265]:
df.index.names

FrozenList([None, None])

In [266]:
df.index.names = ['Group','Num']

In [267]:
df

                  A         B
Group Num
G1    1    0.153661  0.167638
      2   -0.765930  0.962299
      3    0.902826 -0.537909
G2    1   -1.549671  0.435253
      2    1.259904 -0.447898
      3    0.266207  0.412580

In [270]:
df.xs('G1')

            A         B
Num
1    0.153661  0.167638
2   -0.765930  0.962299
3    0.902826 -0.537909

In [271]:
df.xs(['G1',1])

A    0.153661
B    0.167638
Name: (G1, 1), dtype: float64

In [273]:
df.xs(1,level='Num')

              A         B
Group
G1     0.153661  0.167638
G2    -1.549671  0.435253